n8n-workflows/06-pdf-data-extraction.json
{
  "name": "PDF Data Extraction with Claude AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-extract",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "pdf-extract-trigger"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "extract-pdf-text",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.data}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-extraction-success",
      "name": "Check Extraction",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract the following information from this document and return as a JSON array:\\n\\nFor each item found, extract:\\n- name\\n- date\\n- amount\\n- description\\n- any other relevant fields\\n\\nReturn ONLY valid JSON array format with no additional text. If you cannot find structured data, return an empty array [].\\n\\nDocument content:\\n{{$node['Extract from File'].json.data}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "call-claude-api",
      "name": "Claude AI Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        910,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response and format as clean JSON array\nconst claudeResponse = items[0].json.content[0].text;\n\nlet extractedData;\ntry {\n  // Remove any markdown code blocks if present\n  const cleanedResponse = claudeResponse\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  \n  extractedData = JSON.parse(cleanedResponse);\n  \n  // Ensure it's an array\n  if (!Array.isArray(extractedData)) {\n    extractedData = [extractedData];\n  }\n} catch (error) {\n  console.error('Failed to parse Claude response:', error);\n  extractedData = [];\n}\n\n// Get original PDF binary from webhook\nconst originalPdf = $node[\"Webhook\"].binary.data;\n\nreturn [\n  {\n    json: {\n      extractedData: extractedData,\n      extractionSuccess: extractedData.length > 0,\n      recordCount: extractedData.length,\n      timestamp: new Date().toISOString()\n    },\n    binary: {\n      pdf: originalPdf\n    }\n  }\n];"
      },
      "id": "format-json-response",
      "name": "Format JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OUTPUT_WEBHOOK_URL}}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{JSON.stringify($json.extractedData)}}"
            },
            {
              "name": "recordCount",
              "value": "={{$json.recordCount}}"
            },
            {
              "name": "timestamp",
              "value": "={{$json.timestamp}}"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "pdf",
        "options": {}
      },
      "id": "send-to-webhook",
      "name": "Send to Output Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraction failed - return error response\nreturn [\n  {\n    json: {\n      success: false,\n      error: \"Failed to extract text from PDF\",\n      message: \"The PDF file could not be processed. Please ensure it's a valid PDF with extractable text.\",\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "extraction-error",
      "name": "Extraction Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Check Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Extraction": {
      "main": [
        [
          {
            "node": "Claude AI Extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraction Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Extraction": {
      "main": [
        [
          {
            "node": "Format JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON": {
      "main": [
        [
          {
            "node": "Send to Output Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PDF",
      "id": "pdf-extraction"
    },
    {
      "name": "AI",
      "id": "claude-ai"
    },
    {
      "name": "Data Extraction",
      "id": "data-extraction"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-07T00:00:00.000Z",
  "versionId": "1.0.0"
}
